<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="Logs/nlog-internal.log"
      >

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target name="node_logfile_trace" xsi:type="File"
            fileName="Log/${date:format=yyyyMMdd}/${logger}_trace.txt" encoding="utf-8"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message:}" />

    <target name="node_logfile_normal" xsi:type="File"
            fileName="Log/${date:format=yyyyMMdd}/${logger}_normal.txt" encoding="utf-8"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message:}" />

    <target name="node_logfile_error" xsi:type="File"
            fileName="Log/${date:format=yyyyMMdd}/${logger}_error.txt" encoding="utf-8"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message} ${exception:format=tostring}" />

    <target name="node_logfile_warning" xsi:type="File"
            fileName="Log/${date:format=yyyyMMdd}/${logger}_warning.txt" encoding="utf-8"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message} ${exception:format=tostring}" />

    <target name="node_logfile_all" xsi:type="File"
            fileName="Log/${date:format=yyyyMMdd}/${logger}_all.txt" encoding="utf-8"
            layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${message} ${exception:format=tostring}" />


    <target name="console" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${logger}: ${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>

    <target name="console_error" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${logger}: ${message} ${exception:format=tostring}" >
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>


  </targets>
  <rules>


    <logger name="init" writeTo="node_logfile_trace,node_logfile_normal,node_logfile_error,node_logfile_warning,node_logfile_all"  final="true"/>



    <logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="node_logfile_trace,node_logfile_all" />
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="node_logfile_warning,node_logfile_all" />
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="node_logfile_error,node_logfile_all" />

    <logger name="*" minlevel="Trace"  maxlevel="Warn" writeTo="console" />
    <logger name="*" minlevel="Error"  maxlevel="Fatal" writeTo="console_error" />


  </rules>
</nlog>

